<div [ngBusy]="busy"  class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-9">

      <div  class="panel panel-info">
          <div class="panel-heading">Wiki: {{pageTitle}} Pages</div>
          <div class="panel-body">
            <div *ngIf='pageList' class="list-group">
               <a *ngFor="let item of pageList; let i = index " 
                [routerLink]="['/wiki/'+item.wikiId+'/'+item.wiki.title+'/'+item.id+'/'+item.title+'']" 
                routerLinkActive="active" class="list-group-item">{{item.title}}</a>
            </div>
          </div>
      </div>


      <div *ngIf='hasParam==false' class="panel panel-info">
          <div class="panel-heading">{{pageTitle}}</div>
          <div class="panel-body">
            <div  *ngIf='wikiList' class="list-group">
                <a *ngFor="let item of wikiList; let i = index " 
                [routerLink]="['/wiki/'+item.id+'/'+item.title+'']" 
                routerLinkActive="active" class="list-group-item">{{item.title}}</a>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
