<div [ngBusy]="busy" class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-info">
        <div class="panel-heading">Wiki Contents</div>

        <div class="panel-body">

          <ol>
              <li *ngFor="let item of pageList; let i = index " >
                <a [routerLink]="['/wiki/page'+'/'+item.id+'/'+item.title+'']" 
                 routerLinkActive="active" >{{item.title}}</a></li>
          </ol>


        </div>


      </div>
    </div>
    <div class="col-md-8">
      <h1 *ngIf="page" >{{page.title}}</h1>
      <markdown *ngIf="page" [data]="page.pageContent"></markdown>
    </div>
    <div *ngIf="user"   class="col-md-2">
      <div class="panel panel-info">
        <div class="panel-heading">Options </div>
        <div class="panel-body">
          <button type="button" 
          class="btn btn-warning btn-s" 
          (click)="editPage()" 
          [disabled]="!page" > 
          <span class="glyphicon glyphicons-pencil"></span> Edit Page </button>
        </div>
      </div>
    </div>
  </div>
</div>