<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">Wiki Contents</div>

        <div class="panel-body">

          <ol>
              <li *ngFor="let item of pageList; let i = index " >
                <a [routerLink]="['/wiki/page'+'/'+item.id+'/'+item.title+'']" 
                 routerLinkActive="active" >{{item.title}}</a></li>
          </ol>


        </div>


      </div>
    </div>
    <div class="col-md-8">
      <h1>{{Title}}</h1>
      <markdown [data]="textData"></markdown>
    </div>
    <div class="col-md-1">
      <div class="panel panel-info">
        <div class="panel-heading">OTHER</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
</div>