
<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    /* Default class applied to drop zones on over */
    .nv-file-over { border: dotted 3px red; }
    .another-file-over-class { border: dotted 3px green; }
    html, body { height: 100%; }
    .previewIcon{
      width:50px;height:50px;
      background-size:cover;
      background-repeat:no-repeat;
    }
  </style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Drop files Here</div>
                <div class="panel-body">
                    <div >
                        <!--
                     ngfDrop
                        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                        (fileOver)="fileOverBase($event)"
                       
                        class="well my-drop-zone" -->

                        Base drop zone
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                    <div class="panel-heading">File Select Dialog</div>
                    <div class="panel-body">
                        Multiple
                        <input type="file"
                         ngfSelect 
                          multiple 
                          (filesChange)  = "filesChange($event)"
                          /><br/>
                    </div>
                </div>
        </div> 
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">Files On Server</div>
                <div class="panel-body">
                    <table *ngIf="WikiFiles" class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    id
                                </th>
                                <th>
                                    name
                                </th>
                                <th>
                                    type
                                </th>
                                <th>
                                    date uploaded
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let item of WikiFiles"  >
                                <th scope="row">
                                    {{item.id}}
                                </th>
                                <td>
                                    <div *ngIf="['image/png','image/jpeg'].indexOf(item.mimeType)>=0">
                                        <img  src="https://devwebservice.adldelivery.com/wikiapi/assets/{{item.fileName}}"   width='50' height='50'   />
                                    </div>
                                    {{item.fileName}}
                                </td>
                                <td>
                                    {{item.mimeType}}
                                </td>
                                <td>
                                    {{item.createdDate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>       
       </div> 
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 40px">
            <div class="panel panel-info">
                <div class="panel-heading">Upload queue</div>
                <div class="panel-body">
                    <p>Queue length: {{ files?.length }}</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of files">
                            <td>
                                <div *ngIf="['image/png','image/jpeg'].indexOf(item.type)>=0">
                                    <div class="previewIcon" [ngfBackground]="item"></div>
                                </div>
                                <strong> {{ item?.name }} </strong>
                            </td>
                            <td  nowrap>{{ item?.size/1024 | number:'.2' }} KB</td>
                            <td class="text-center">
                                <span ><i class="glyphicon glyphicon-ok"></i></span>
                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploadProgress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" 
                        class="btn btn-success btn-s" 
                        (click)="uploadAll()" [disabled]="!files.length">
                         <span class="glyphicon glyphicon-upload"></span> Upload all </button>
<button type="button" 
class="btn btn-warning btn-s" 
(click)="cancelAll()" 
[disabled]="!files.length"> 
<span class="glyphicon glyphicon-ban-circle"></span> Cancel all </button>

<button type="button" 
class="btn btn-danger btn-s" 
(click)="clearQueue()" 
[disabled]="!files.length"> 
<span class="glyphicon glyphicon-trash"></span> Remove all</button>

               
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>