
<div [ngBusy]="busy" class="container-fluid">
    <div class="row" style="min-height: 900px; "  >
      <div class="col-md-6">
<form *ngIf='page' (ngSubmit)="onSubmit()" #newPageForm="ngForm"  >
            <div class="form-group">
                <label for="wikiId">Wiki</label>
                <select  *ngIf='wikiList' id="wikiId"
                 (change)="onWikiChange($event)"
                 [(ngModel)]="page.wikiId"  name="wikiId" #wikiId="ngModel" 
                  class="form-control"  required >
                  <option value="0" >--Select Wiki--</option>
                  <option *ngFor="let w of wikiList" value={{w.id}} [selected]="page.wikiid == w.id" >{{w.title}}</option>
                </select>
            </div>
            <div class="form-group">
                  <label for="pageParentId">Parent Page</label>
                  <select *ngIf='pagesList'  id="pageParentId"
                  [(ngModel)]="page.parentPageId" name="parentPageId" #parentPageId="ngModel"  
                  class="form-control"  >
                    <option value="0" >--Select Parent--</option>
                    <option *ngFor="let w of pagesList" value={{w.id}}  [selected]="page.parentPageId == w.id"  >{{w.title}}</option>
                  </select>
            </div>
          <div class="form-group">
              <label for="pagetitle">Title</label>
              <input  id="pagetitle"
              [(ngModel)]="page.title" 
              name="title" #title="ngModel" 
              type="text" class="form-control" placeholder="page title here" required  >
          </div>
        <div class="form-group">
            <label for="content">Page Content</label>
          <textarea rows="20"  id="content"
          [(ngModel)]="page.pageContent"  
          name="pageContent" #pageContent="ngModel"  
           type="text" required ></textarea>
       </div>
          <button type="submit" class="btn btn-success" [disabled]="!newPageForm.form.valid">Submit</button>
          <button type="button" class="btn btn-default" (click)="newPage(); newPageForm.reset()">New Page</button>
</form>
      </div>
      <div class="col-md-6">
          <div  class="panel panel-info">
              <div class="panel-heading">Preview:</div>
              <div class="panel-body">
          <markdown *ngIf='page' [data]="page.pageContent"></markdown>
              </div>
            </div>
      </div>

    </div>
  </div>

